@use './sass/abstracts/' as abs;

.page-wrapper {
  min-height: 100vh;
  background-image: url(./images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 76%;
  background-position: bottom left;

  display: flex;
  justify-content: center;

  // padding-top: 3.375rem;
  // padding-bottom: 4.75rem;
  padding: 1.5rem;

  @include abs.breakpoint(medium) {
    background-size: 42%;
  }
}